export(p_author)
export(p_base)
export(p_citation)
export(p_cite)
export(p_cran)
export(p_data)
export(p_del)
export(p_delete)
export(p_detectOS)
export(p_exists)
export(p_functions)
export(p_funs)
export(p_get)
export(p_help)
export(p_info)
export(p_information)
export(p_install)
export(p_inter)
export(p_interactive)
export(p_isloaded)
export(p_lib)
export(p_library)
export(p_load)
export(p_loaded)
export(p_news)
export(p_opendir)
export(p_path)
export(p_sa)
export(p_search_any)
export(p_search_library)
export(p_sl)
export(p_unload)
export(p_up)
export(p_update)
export(p_ver)
export(p_version)
export(p_vign)
export(p_vignette)
S3method(print,p_data)
